.quiz-block {
  width: 100%;

  &-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
  }

  &-time {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    padding: 11px 0;
    text-align: center;
    background: #ccc;
    border-radius: 50%;
    font-size: 14px;
  }

  &-fail {
    text-align: center;
    color: tomato;
  }
}


