$c-orange: #dd5313;
$c-blue-300: #1d6eff;
$f-base: 'Balsamiq Sans', cursive;

.base-button {
  position: relative;
  display: inline-block;
  box-shadow: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;

  &::after {
    display: block;
    content: '';
    padding-top: (172/288 * 100%);
  }

  .base-spinner {
    font-size: 0.25em;
  }

  &[disabled] {
    filter: grayscale(100%);
  }

  &--large {
    min-width: 170px;
    font-size: 18px;
  }

  &--medium {
    min-width: 100px;
    font-size: 13px;
  }

  &--orange {
    color: $c-orange;
    background: url("/img/buttons/orange-button.png") center/contain no-repeat;
  }

  &--blue {
    color: $c-blue-300;
    background: url("/img/buttons/blue-button.png") center/contain no-repeat;
  }

  &__inner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: inherit;
    font-family: $f-base;
    text-transform: uppercase;
    font-size: inherit;
    font-weight: bold;
    letter-spacing: 0.01em;
    white-space: nowrap;
  }
}
