.game-page {
  display: flex;
  height: 100vh;

  &__sidebar {
    flex: 1 0 300px;
    max-width: 300px;
    padding: 15px 10px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__inner {
    flex: 1 1 auto;
    padding: 10px 30px;
  }
}
