.farm-animal {
  position: relative;
  background: url('/img/cell-bg.png') center/contain no-repeat;
  cursor: pointer;

  &--unselectable {
    opacity: 0.3;
    pointer-events: none;
  }

  &--medium {
    max-width: 300px;
  }

  &-label {
    position: absolute;
    z-index: 1;
    bottom: 12%;
    left: 50%;
    background: #fafafa;
    padding: 2px 25px 0 8px;
    border-radius: 6px;
    user-select: none;
    transform: translateX(-50%);

    > span {
      background: #fff;
      border-radius: 50%;
      position: absolute;
      box-shadow: 0 0 2px #333;
      top: 0;
      right: 0;
      transform: translate(50%, -10px);
      line-height: 35px;
      width: 35px;
      text-align: center;
    }
  }

  &::before {
    display: block;
    padding-top: 100%;
    content: '';
  }

  &-image {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 55%;
    transform: translate(-53%, -55%);
  }
}
