.farm-animal {
  position: relative;
  cursor: pointer;

  &--unselectable {
    opacity: 0.3;
    pointer-events: none;
  }

  &--medium {
    max-width: 300px;
  }

  &-label {
    position: absolute;
    z-index: 1;
    bottom: 12%;
    left: 50%;
    background: #fafafa;
    padding: 2px 25px 0 8px;
    border-radius: 6px;
    user-select: none;
    transform: translateX(-50%);

    > span {
      background: #fff;
      border-radius: 50%;
      position: absolute;
      box-shadow: 0 0 2px #333;
      top: 0;
      right: 0;
      transform: translate(50%, -10px);
      line-height: 35px;
      width: 35px;
      text-align: center;
    }
  }

  &::before {
    display: block;
    padding-top: 100%;
    content: '';
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-image {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 55%;
    transform: translate(-53%, -55%);
  }

  &-exchanger {
    position: absolute;
    top: 5%;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;

    &__animal {
      position: relative;
      flex: 1 0 20%;
      max-width: 20%;

      &::after {
        position: absolute;
        left: 50%;
        bottom: calc(100% + 2px);
        font-size: 14px;
        background: white;
        border-radius: 50%;
        width: 25px;
        line-height: 25px;
        display: inline-block;
        text-align: center;
        content: attr(data-coef);
        transform: translate(-50%, 100%);
        transition: 0.35s;
        opacity: 0;
      }

      &:hover::after {
        opacity: 1;
        transform: translate(-50%, 0);
      }

      img {
        width: 100%;
      }
    }
  }
}
