.quiz-bonus {
  padding: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
  }

  &-animal {
    width: 100%;
    max-width: 200px;
  }
}


