.player-block {
  &--active {
    background: lightblue;
  }

  &__name {
    padding: 8px 10px;
    font-size: 20px;
  }

  &__farm {
    display: flex;
    flex-wrap: wrap;
  }

  &__animal {
    position: relative;
    padding: 8px 10px;
  }

  &__count {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
  }
}
