.player-block {
  &--turn {
    background: lightblue;
  }

  &--winner {
    animation: blinkBg 1s infinite;
  }

  &__name {
    padding: 8px 10px;
    font-size: 20px;
  }

  &__farm {
    display: flex;
    flex-wrap: wrap;
  }

  &__animal {
    position: relative;
    padding: 8px 10px;
  }

  &__count {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
  }
}

@keyframes blinkBg {
  0% {
    background: lightblue;
  }
  49% {
    background: lightblue;
  }
  60% {
    background: lightsalmon;
  }
  99% {
    background: lightsalmon;
  }
  100% {
    background: lightblue;
  }
}
