.notification {
  position: fixed;
  z-index: 999;
  right: 15px;
  bottom: 20px;
  width: 400px;
  transition: transform 0.3s ease-in-out;
  transform: translate(calc(100% + 20px));

  &--opened {
    transform: translate(0);
  }

  &-close {
    position: absolute;
    right: 3px;
    top: 3px;
  }

  &-content {

  }
}
