.notification {
  position: fixed;
  right: 15px;
  bottom: 20px;
  width: 400px;
  padding: 20px;
  background: #20c997;

  &-close {
    position: absolute;
    right: 3px;
    top: 3px;
  }

  &-content {

  }
}
