$c-orange: #dd5313;
$c-blue-300: #1d6eff;
$f-base: 'Balsamiq Sans', cursive;

.base-icon-button {
  position: relative;
  display: inline-block;
  box-shadow: none;
  width: 30px;
  height: 25px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  color: $c-blue-300;
  background: url("/img/button-icon.png") center/contain no-repeat;

  &__inner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: inherit;
    font-family: $f-base;
    text-transform: uppercase;
    font-size: inherit;
    font-weight: bold;
    letter-spacing: 0.01em;
    white-space: nowrap;
  }
}
