$c-orange: #dd5313;
$c-blue-300: #1d6eff;
$f-base: 'Balsamiq Sans', cursive;

.base-icon-button {
  position: relative;
  display: inline-block;
  box-shadow: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  color: $c-blue-300;

  &[disabled] {
    filter: grayscale(100%);
  }

  &::after {
    content: '';
    padding-top: (25/30 * 100%);
    display: block;
  }

  &--small {
    min-width: 30px;
  }

  &--medium {
    min-width: 70px;
  }

  &--orange {
    color: $c-orange;
    background: url("/img/buttons/orange-icon-button.png") center/contain no-repeat;
  }

  &--blue {
    color: $c-blue-300;
    background: url("/img/buttons/blue-icon-button.png") center/contain no-repeat;
  }

  &__inner {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: inherit;
    font-family: $f-base;
    text-transform: uppercase;
    font-size: inherit;
    font-weight: bold;
    letter-spacing: 0.01em;
    white-space: nowrap;
  }
}
